body{
    background:rgb(37, 37, 37);
    text-align: center;
    display:flex;
    justify-content: center;
    height:auto;
    font-family:sans-serif;
    font-size: large;
    color: rgb(199, 199, 199);

}

#content{
    background: rgb(59, 59, 59);
    max-width:700px;
    margin:1rem 0;
   box-shadow:.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.63),
    -.2rem -0.2rem 0.7rem rgba(255, 255, 255, 0.103);
    padding:3%;
    border-radius: 15px;
}

h1{
    padding:20px 0;
    color: rgb(199, 199, 199);
    box-shadow:.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.63),
    -.2rem -0.2rem 0.7rem rgba(255, 255, 255, 0.103);
    margin: 15px 0;
    border-radius: 15px;
    background-color: rgb(59, 59, 59);

}
p{
    transition: 1s all ease;
    font-weight: bold;
}

#buttons{
    margin: 60px 0;
    display: flex;
    justify-content:space-evenly;
}

button{
    width:150px;
    height:150px;
    border:none;
    font-size: 2.2em;
    margin:20px 0;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
}

.hands:active{
    top: 0.5rem;
}
.hands{
    font-size:5rem;
    position: relative;
    color: rgb(253, 121, 13);
}

#reset{
    width:10rem;
    height:10rem;
    transition: 0.2s all linear;
    border-radius:50%;
    box-shadow:.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.63),
    -.2rem -0.2rem 0.7rem rgba(255, 255, 255, 0.103);
    outline: none;
    color: rgb(59, 59, 59);
    background-color: rgb(253, 121, 13);
}

#reset:hover{
    background-color: rgb(255, 149, 61);
    color: rgb(59, 59, 59);

}

#reset:active{
    position: relative;
    top:0.5rem;
}

button:hover{
    width:130px;
    height: 130px;
    box-shadow:.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.63),
    -.2rem -0.2rem 0.7rem rgba(255, 255, 255, 0.103);
    color:rgb(253, 121, 13);
}

#scoreboard{
    padding:50px 0;
    margin:3rem 0;
    display:flex;
    justify-content:center;
    color: rgb(199, 199, 199);
    
}

.score{
    color: rgb(199, 199, 199);
    margin: 0 30px;
    padding: 20px;
    box-shadow:.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.63),
    -.2rem -0.2rem 0.7rem rgba(255, 255, 255, 0.103);
    border-radius: 5rem;
}

#rounds{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow:.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.63),
    -.2rem -0.2rem 0.7rem rgba(255, 255, 255, 0.103);
    border-radius: 5rem;
}

#results{
    padding:2rem;
    margin-bottom: 1rem;
    color: rgb(199, 199, 199);
    font-size: 1.5rem;
    font-weight: bolder;
    box-shadow:.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.63),
    -.2rem -0.2rem 0.7rem rgba(255, 255, 255, 0.103);
    border-radius: 5rem;
}


@media (max-width:768px){
    body{
        height: 100vh;
        font-size: 1rem;
    }
    #content{
        width: 80vw;
        margin:10px 0;
        height: 100vh;
    }
    button{
        max-width: 100px;
        max-height: 100px;
    }
    #buttons{
        display:flex;
        flex-direction:row;
        justify-items: center;
        margin:2px 0;
        
    }
    #scoreboard{
        max-height: 100px;
        padding: 1rem;
        font-size: 1rem;
    }
    #results{
        max-height: 100px;
        max-height: 100px;
        padding: 1rem;
        font-size: small;
    }
    #rounds{
        max-height: 100px;
        padding: 1rem;
    }

    #reset{
        font-size: 1.7rem;
    }
}